/**
***** WELCOME TO PINCH FRAMEWORK ******
A minimal framework of css to get you started with your own projects

Visit https://www.github.com/ScorchingShade/Pinch to know more

For contributions and info of upcoming changes, contact me at ankushors789@gmail.com

Developed and maintained by Ankush Sharma


**/
.container {
  width: calc(100%-10em);
  max-width: 60em;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div[class^="col-"] {
  padding: 1rem 0;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.10714%;
          flex: 0 0 7.10714%;
}

.col-offset-1 {
  margin-left: 7.14286%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.21429%;
          flex: 0 0 14.21429%;
}

.col-offset-2 {
  margin-left: 14.28571%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.32143%;
          flex: 0 0 21.32143%;
}

.col-offset-3 {
  margin-left: 21.42857%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.42857%;
          flex: 0 0 28.42857%;
}

.col-offset-4 {
  margin-left: 28.57143%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.53571%;
          flex: 0 0 35.53571%;
}

.col-offset-5 {
  margin-left: 35.71429%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.64286%;
          flex: 0 0 42.64286%;
}

.col-offset-6 {
  margin-left: 42.85714%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.75%;
          flex: 0 0 49.75%;
}

.col-offset-7 {
  margin-left: 50%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.85714%;
          flex: 0 0 56.85714%;
}

.col-offset-8 {
  margin-left: 57.14286%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63.96429%;
          flex: 0 0 63.96429%;
}

.col-offset-9 {
  margin-left: 64.28571%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 71.07143%;
          flex: 0 0 71.07143%;
}

.col-offset-10 {
  margin-left: 71.42857%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78.17857%;
          flex: 0 0 78.17857%;
}

.col-offset-11 {
  margin-left: 78.57143%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85.28571%;
          flex: 0 0 85.28571%;
}

.col-offset-12 {
  margin-left: 85.71429%;
}

.col-13 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 92.39286%;
          flex: 0 0 92.39286%;
}

.col-offset-13 {
  margin-left: 92.85714%;
}

.col-14 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 99.5%;
          flex: 0 0 99.5%;
}

.col-offset-14 {
  margin-left: 100%;
}

.card {
  font-family: 'Montserrat', sans-serif;
  width: 11.875rem;
  height: 15rem;
  background: linear-gradient(240deg, #f8f4f4, #d3d2d2);
  border-radius: 5%;
  position: relative;
  text-transform: uppercase;
}

.card:nth-child(1) .card-prime {
  background: linear-gradient(45deg, #b066fe, #63e2ff);
}

.card:nth-child(2) .card-title {
  background: linear-gradient(45deg, #ed1c24, #fcee21);
}

.card:nth-child(3) .card-title {
  background: linear-gradient(45deg, #00ffa1, #00ffff);
}

.card .card-image {
  text-align: center;
}

.card .card-image img {
  position: relative;
  width: 8.125rem;
  top: -3.75rem;
  z-index: 1;
  border-radius: 50%;
}

.card .card-prime {
  position: absolute;
  right: 0;
  bottom: 6.25rem;
  width: 7.5rem;
  height: 12.5rem;
  border-radius: 1.25rem 1.25rem 0 0.125rem;
  -webkit-transform: skewY(40deg);
          transform: skewY(40deg);
}

.card .card-prime span {
  position: absolute;
  top: 8.125rem;
  left: 2.5rem;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 700;
  -webkit-transform: skewY(-40deg);
          transform: skewY(-40deg);
}

.card .card-info {
  position: absolute;
  top: 40%;
  left: 10%;
}

.card .card-info .card-icon {
  font-size: 0.75rem;
  -webkit-columns: #606060;
          columns: #606060;
  text-align: left;
  letter-spacing: 0.063rem;
  position: absolute;
}

.card .card-info .card-icon img {
  padding-left: 0.625;
  width: 2.5rem;
  z-index: 1;
}

.card .card-name {
  font-size: 0.875rem;
  color: #606060;
  font-weight: 600;
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  max-width: 5rem;
}
/*# sourceMappingURL=main.css.map */