/**
***** WELCOME TO PINCH FRAMEWORK ******
A minimal framework of css to get you started with your own projects

Visit https://www.github.com/ScorchingShade/Pinch to know more

For contributions and info of upcoming changes, contact me at ankushors789@gmail.com

Developed and maintained by Ankush Sharma


**/
/** containers **/
.container {
  width: calc(100%-10em);
  max-width: 60em;
  margin: 0 auto;
}

*.container-ex {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

/** row **/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/** Media queries for column flex grid**/
/** Small devices (landscape phones, 576px and up)**/
@media screen and (min-width: 576px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** flexbox columns **/
div[class^="col-"] {
  padding: 1rem 0;
}

.col-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 6.63333%;
      flex: 0 0 6.63333%;
}

.col-offset-1 {
  margin-left: 6.66667%;
}

.col-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 13.26667%;
      flex: 0 0 13.26667%;
}

.col-offset-2 {
  margin-left: 13.33333%;
}

.col-3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 19.9%;
      flex: 0 0 19.9%;
}

.col-offset-3 {
  margin-left: 20%;
}

.col-4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 26.53333%;
      flex: 0 0 26.53333%;
}

.col-offset-4 {
  margin-left: 26.66667%;
}

.col-5 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 33.16667%;
      flex: 0 0 33.16667%;
}

.col-offset-5 {
  margin-left: 33.33333%;
}

.col-6 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 39.8%;
      flex: 0 0 39.8%;
}

.col-offset-6 {
  margin-left: 40%;
}

.col-7 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 46.43333%;
      flex: 0 0 46.43333%;
}

.col-offset-7 {
  margin-left: 46.66667%;
}

.col-8 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 53.06667%;
      flex: 0 0 53.06667%;
}

.col-offset-8 {
  margin-left: 53.33333%;
}

.col-9 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 59.7%;
      flex: 0 0 59.7%;
}

.col-offset-9 {
  margin-left: 60%;
}

.col-10 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 66.33333%;
      flex: 0 0 66.33333%;
}

.col-offset-10 {
  margin-left: 66.66667%;
}

.col-11 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 72.96667%;
      flex: 0 0 72.96667%;
}

.col-offset-11 {
  margin-left: 73.33333%;
}

.col-12 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 79.6%;
      flex: 0 0 79.6%;
}

.col-offset-12 {
  margin-left: 80%;
}

.col-13 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 86.23333%;
      flex: 0 0 86.23333%;
}

.col-offset-13 {
  margin-left: 86.66667%;
}

.col-14 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 92.86667%;
      flex: 0 0 92.86667%;
}

.col-offset-14 {
  margin-left: 93.33333%;
}

.col-15 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 99.5%;
      flex: 0 0 99.5%;
}

.col-offset-15 {
  margin-left: 100%;
}

/** Cards **/
.card {
  font-family: 'Montserrat', sans-serif;
  width: 11.875rem;
  height: 15rem;
  background: linear-gradient(240deg, #f8f4f4, #d3d2d2);
  border-radius: 5%;
  position: relative;
  text-transform: uppercase;
}

.card:nth-child(1) .card-prime {
  background: linear-gradient(45deg, #b066fe, #63e2ff);
}

.card:nth-child(2) .card-title {
  background: linear-gradient(45deg, #ed1c24, #fcee21);
}

.card:nth-child(3) .card-title {
  background: linear-gradient(45deg, #00ffa1, #00ffff);
}

.card .card-image {
  text-align: center;
}

.card .card-image img {
  position: relative;
  width: 8.125rem;
  top: -3.75rem;
  z-index: 1;
  border-radius: 50%;
}

.card .card-prime {
  position: absolute;
  right: 0;
  bottom: 6.25rem;
  width: 7.5rem;
  height: 12.5rem;
  border-radius: 1.25rem 1.25rem 0 0.125rem;
  -webkit-transform: skewY(40deg);
          transform: skewY(40deg);
}

.card .card-prime span {
  position: absolute;
  top: 8.125rem;
  left: 2.5rem;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 700;
  -webkit-transform: skewY(-40deg);
          transform: skewY(-40deg);
}

.card .card-info {
  position: absolute;
  top: 40%;
  left: 10%;
}

.card .card-info .card-icon {
  font-size: 0.75rem;
  -webkit-columns: #606060;
          columns: #606060;
  text-align: left;
  letter-spacing: 0.063rem;
  position: absolute;
}

.card .card-info .card-icon img {
  padding-left: 0.625;
  width: 2.5rem;
  z-index: 1;
}

.card .card-name {
  font-size: 0.875rem;
  color: #606060;
  font-weight: 600;
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  max-width: 5rem;
}

.card-basic {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  width: 15.875rem;
  background: linear-gradient(240deg, #f8f4f4, #d3d2d2);
  border-radius: 5%;
  position: relative;
  -webkit-box-shadow: 10px 10px 25px #777;
          box-shadow: 10px 10px 25px #777;
}

.card-basic .card-title {
  margin-bottom: 0.75rem;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-shadow: 10px 10px 25px #777;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.card-basic .card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-basic .card-subtitle {
  margin-top: -0.375rem;
  text-align: center;
  margin-bottom: 0;
}

.card-basic .card-body {
  margin-top: 0.9rem;
  height: 8rem;
  padding: 0.2rem 1.25rem;
  overflow: hidden;
}

.card-basic .card-footer {
  padding: 0.75rem 1.25rem;
  position: relative;
  margin-top: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-fluid {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  background: linear-gradient(240deg, #f8f4f4, #d3d2d2);
  border-radius: 2%;
  position: relative;
  -webkit-box-shadow: 10px 10px 25px #777;
          box-shadow: 10px 10px 25px #777;
}

.card-fluid .card-title {
  margin-bottom: 0.75rem;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-shadow: 10px 10px 25px #777;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.card-fluid .card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-fluid .card-subtitle {
  margin-top: -0.375rem;
  text-align: center;
  margin-bottom: 0;
}

.card-fluid .card-body {
  margin-top: 0.9rem;
  height: 8rem;
  padding: 0.2rem 1.25rem;
  overflow: hidden;
}

.card-fluid .card-footer {
  padding: 0.75rem 1.25rem;
  position: relative;
  margin-top: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/** anchor elements **/
a,
li,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

/**lists**/
/**Buttons**/
.btn-nav {
  padding: 9px 25px;
  background-color: #1d49a7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.btn-nav:hover {
  background-color: rgba(241, 237, 13, 0.8);
}

/**Header**/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
}

#check {
  display: none;
}

/**logo**/
.logo {
  cursor: pointer;
  width: 7.5%;
}

.logo_responsive {
  display: none;
  cursor: pointer;
  width: 10.5%;
  padding: 2%;
}

/** nav **/
.bar {
  background-color: white;
  float: right;
  font-size: 25px;
}

.checkbtn {
  float: right;
  font-size: 30px;
  line-height: 80px;
  padding: 30px;
  cursor: pointer;
  display: none;
}

.nav-responsive {
  list-style: none;
  display: none;
}

.nav-responsive ul {
  position: fixed;
}

.nav-responsive li {
  display: block;
  text-align: center;
  padding: 10px 20px;
}

.nav-responsive li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.nav-responsive li a:hover {
  color: #0088a9;
}

.nav-dracula {
  background-color: #24252A;
}

.nav-dracula .nav_link {
  list-style: none;
}

.nav-dracula .nav_link li {
  display: inline-block;
  padding: 10px 20px;
}

.nav-dracula .nav_link li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.nav-dracula .nav_link li a:hover {
  color: #0088a9;
}

@media (max-width: 858px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-nav-responsive {
    display: block;
    padding: 9px 25px;
    background-color: #1d49a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .btn-nav {
    display: none;
    padding: 9px 25px;
    background-color: #1d49a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .checkbtn {
    display: block;
  }
  .nav-dracula {
    background-color: #24252A;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav-dracula .nav_link {
    list-style: none;
    display: none;
  }
  .nav-dracula .nav-responsive {
    list-style: none;
    display: block;
  }
  .nav-dracula .nav-responsive li {
    display: block;
    text-align: center;
    padding: 10px 20px;
  }
  .nav-dracula .nav-responsive li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
  }
  .nav-dracula .nav-responsive li a:hover {
    color: #0088a9;
  }
  .logo {
    display: none;
    cursor: pointer;
    width: 7.5%;
  }
  .logo_responsive {
    display: inline-block;
    cursor: pointer;
    width: 10.5%;
    padding: 2%;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check {
    display: none;
    float: right;
    z-index: 100;
    margin-top: 38px;
  }
  #check:checked ~ .responsive-head {
    display: none;
  }
}

.nav-angel {
  background-color: #e6e9ed;
}

.nav-angel .nav_link {
  list-style: none;
}

.nav-angel .nav_link li {
  display: inline-block;
  color: black;
  padding: 10px 20px;
}

.nav-angel .nav_link li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
}

.nav-angel .nav_link li a:hover {
  color: #0088a9;
}

#check-angel {
  display: none;
}

@media (max-width: 858px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-nav {
    display: none;
    padding: 9px 25px;
    background-color: #1d49a7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .checkbtn {
    display: block;
  }
  .nav-angel {
    background-color: #e6e9ed;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav-angel .nav_link {
    list-style: none;
    display: none;
  }
  .nav-angel .nav-responsive {
    list-style: none;
    display: block;
  }
  .nav-angel .nav-responsive li {
    display: block;
    text-align: center;
    padding: 10px 20px;
  }
  .nav-angel .nav-responsive li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: black;
  }
  .nav-angel .nav-responsive li a:hover {
    color: #0088a9;
  }
  .logo {
    display: none;
    cursor: pointer;
    width: 7.5%;
  }
  .logo_responsive {
    display: inline-block;
    cursor: pointer;
    width: 10.5%;
    padding: 2%;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check-angel {
    display: none;
    float: right;
    z-index: 100;
    margin-top: 38px;
  }
  #check-angel:checked ~ .responsive-head-angel {
    display: none;
  }
}

/** footer **/
.footer-dracula {
  background-color: #24252A;
  color: #edf0f1;
  padding: 3em;
  margin-top: auto;
  position: relative;
}

.footer-dracula .footer-bottom {
  background: #343a40;
  color: #686868;
  text-align: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.footer-dracula .footer-content {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-dracula .footer-content .footer-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
}

.footer-dracula .footer-content .h1,
.footer-dracula .footer-content h2 {
  color: white;
}

.footer-dracula .footer-content .about h1 span {
  color: #05f7ff;
}

.footer-dracula .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer-dracula .footer-content .about .socials a {
  border: 1px solid gray;
  width: 41px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-dracula .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-dracula .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-dracula .footer-content .links ul a:hover {
  color: white;
  margin-left: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-dracula .footer-content .contact-form .contact-input {
  background: #272727;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer-dracula .footer-content .contact-form .contact-input:focus {
  background: #1a1a1a;
}

.footer-dracula .footer-content .contact-form .contact-btn {
  float: right;
}

.footer-dracula .footer-content .text-input {
  width: 32rem;
  padding: 3rem;
}

.footer-angel {
  background-color: #e6e9ed;
  color: black;
  padding: 3em;
  margin-top: auto;
  position: relative;
}

.footer-angel .footer-bottom {
  background: #989a9c;
  color: #110f0f;
  text-align: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.footer-angel .footer-content {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-angel .footer-content .footer-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
}

.footer-angel .footer-content .h1,
.footer-angel .footer-content h2 {
  color: black;
}

.footer-angel .footer-content .about h1 span {
  color: #0571ff;
}

.footer-angel .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer-angel .footer-content .about .socials a {
  border: 1px solid gray;
  width: 41px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-angel .footer-content .about .socials a:hover {
  border: 1px solid black;
  color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-angel .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-angel .footer-content .links ul a:hover {
  color: black;
  margin-left: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-angel .footer-content .contact-form .contact-input {
  background: #d3cece;
  color: #746e6e;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer-angel .footer-content .contact-form .contact-input:focus {
  background: #ccc6c6;
}

.footer-angel .footer-content .contact-form .contact-btn {
  float: right;
}

.footer-angel .footer-content .text-input {
  width: 32rem;
  padding: 3rem;
}

/** Typography **/
.highlight {
  padding: 1.1rem;
}

.disp-xl {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 4.5rem;
}

.disp-lg {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 3.5rem;
}

.disp-md {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 2.5rem;
}

.disp-sm {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 1.5rem;
}

.disp-xs {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 1rem;
}

.toolbar-bottom {
  bottom: 0;
  position: absolute;
}

.footer__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__change-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__change-title {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.footer__change-text {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 1.5rem;
}

.footer__change-btn {
  margin-top: 40px;
  padding: 9px 25px;
  background-color: #1d49a7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  color: #fff;
}

.footer__change-btn:hover {
  background-color: #f1ed0dcc;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.footer__item-about {
  width: 300px;
}

.footer__item-subtitle {
  color: #0571ff;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__list li {
  margin-top: 10px;
}

.footer_list-link {
  font-size: 18px;
  color: #000;
}

.footer__sublist li {
  border: 1px solid gray;
  width: 40px;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.footer__sublist-link {
  font-size: 1.5em;
}

.footer__container .footer__items .footer__item .footer__item-list > li > .footer__item-link {
  line-height: 19px;
  margin-bottom: 15px;
  /* color: #505050; */
}

.footer__item-contact {
  width: 600px;
}

.footer__item-form-email,
.footer__item-form-msg {
  background: #d3cece;
  color: #746e6e;
  margin-bottom: 20px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
  width: 90%;
}

.footer__item-form-submit {
  padding: 9px 25px;
  background-color: #1d49a7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  float: right;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.footer__dark {
  background-color: #24252A;
  color: #fff;
}

.footer__dark a,
.footer__dark .footer__item-link,
.footer__item-form-submit {
  color: #fff;
}

.footer__dark .footer__item-form-email,
.footer__dark .footer__item-form-msg {
  background-color: #3e3c3c8a;
}

@media (max-width: 1200px) {
  .footer__item-contact {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .footer__item-contact {
    width: 300px;
  }
}

@media (max-width: 840px) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item-contact {
    width: 100%;
  }
}

/* madmax footer */
/*# sourceMappingURL=main.css.map */