/*This is a test css*/

.bord {
    background-image: linear-gradient(rgb(243, 224, 224), rgb(182, 231, 243));
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0.1px;
}

body {
    background-image: linear-gradient(rgb(233, 231, 231), rgb(226, 226, 216));
}

.center {
    margin: 0 auto;
    width: 50%;
}